body {
background: url(pagenotfound.jpg) no-repeat center center fixed;
background-size:cover;

      }

.mytext {
color:#008000;
margin-top:10%;
text-align: center;
letter-spacing: -0.05em;
font-size: 80px;
line-height: 1.2em;
font-family: 'Revalia', cursive;
}

.contactform {

width: 200px;
font-size: 20px;



}

.contactform input, label
{

width: 90%;

}
